<h2>Imágenes Responsivas</h2>
<img src="assets/Imagenes.png" alt="Imágenes Responsivas">
<p>Las imágenes responsivas se ajustan automáticamente al tamaño de la pantalla del usuario. Utilizando atributos HTML como <code>srcset</code> y <code>sizes</code>, puedes especificar diferentes versiones de una imagen para diferentes resoluciones de pantalla.
    Además, CSS puede ayudar a redimensionar y ajustar las imágenes para asegurarse de que no se desborden o se vean distorsionadas en pantallas más pequeñas.
    <br><br> Hacer que una imagen sea fluida, o responsiva, es en realidad muy sencillo. Cuando subes una imagen a tu sitio web, tiene una anchura y una altura por defecto. Puedes cambiar ambos con CSS. Para hacer que una imagen sea responsiva, tienes
    que dar un nuevo valor a su propiedad de anchura. La altura de la imagen se ajustará automáticamente. Lo importante es saber que siempre debes utilizar unidades relativas para la propiedad de anchura, como el porcentaje, en lugar de las absolutas,
    como los píxeles.
</p>
