<h2><strong>Introducción al Diseño Responsivo</strong></h2>
<img src="assets/Introduccion.jpg" alt="Diseño Responsivo">
<p>El diseño responsivo es una técnica de diseño web que permite que las páginas web se adapten al tamaño de la pantalla del dispositivo del usuario. Esto se logra mediante el uso de CSS para crear layouts flexibles que se ajustan a diferentes resoluciones.
    Un sitio web responsivo mejora la experiencia del usuario y es esencial para el SEO, ya que los motores de búsqueda como Google priorizan los sitios web optimizados para dispositivos móviles.</p>
