<h2>Prácticas Recomendadas para Diseño Responsivo</h2>
<img src="assets/Practicas.jpg" alt="Prácticas Recomendadas">
<p>Para asegurarte de que tu sitio web sea verdaderamente responsivo, sigue algunas prácticas recomendadas. Utiliza un enfoque mobile-first, comenzando con el diseño para dispositivos móviles y luego escalando hacia dispositivos más grandes. Aprovecha frameworks
    como Bootstrap que tienen componentes y clases predefinidas para diseño responsivo. Prueba tu diseño en múltiples dispositivos y tamaños de pantalla para asegurarte de que se vea y funcione bien en todos ellos.</p>
