<h2>Utilización de Medidas Flexibles</h2>
<img src="assets/Utilizacion.png" alt="Medidas Flexibles">
<p>Las medidas flexibles son una parte crucial del diseño responsivo. En lugar de usar unidades fijas como píxeles, se utilizan unidades relativas como porcentajes y ems. Esto permite que los elementos de la página se redimensionen proporcionalmente a medida
    que cambia el tamaño de la pantalla. También se pueden utilizar unidades como vh (viewport height) y vw (viewport width) para ajustar los tamaños de los elementos en relación con las dimensiones de la ventana gráfica.</p>
