<h2>Media Queries en CSS</h2>
<img src="assets/Media.png" alt="Media Queries">
<p>Las media queries son una característica de CSS que permite aplicar estilos específicos según las características del dispositivo, como el ancho de la pantalla, la orientación y la resolución. Utilizando media queries, puedes diseñar diferentes layouts
    para diferentes tamaños de pantalla. Por ejemplo, puedes tener un layout de una columna para dispositivos móviles y un layout de varias columnas para pantallas más grandes.</p>
